body {
    font-family: Montserrat, sans-serif;
    background-color: white;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 5% 10%;
}
/******************* header ******************/
.header {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.header__logo {
    font-size: 2em;
    letter-spacing: 2px;
}
.header__logo:hover {
    color: red;
}
.header__nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    font-size: 0.8em;
    letter-spacing: 2px;
}

.header__burger {
    display: none;
}

/******************* main ******************/
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4.5%;
}

.main__card {
    width: 30%;
    transition-duration: .5s;
}

.main__card:hover {
    transition-duration: .5s;
    opacity: 0.7;
    transform: scale(1.03);
}

.main__card-img {
    width: 100%;
}
.main__card-imageTitle {
    margin-top: 5%;
    margin-bottom: 15%;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 0.8em;
    color: #333;
    letter-spacing: 1px;
}
/******************* footer ******************/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__socialMedia {
    padding: 10px;
    opacity: 0.87;
    display: flex;
    justify-content: center;
}
.footer__h3 {
    margin-top: 1%;
    margin-bottom: 5%;
    color: #bbb;
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.footer__socialMedia--icon {
    margin-right: 10px;
    margin-left: 10px;
}
/******************* meedia queries ******************/
@media only screen and (max-width:768px) {
    .container {
        max-width: 100%;
        margin: 5% 2%;
    }
    .main{
        display: flex;
       
    }
    .main__card {
        width: 100%;
    }
    .main__card-img {
        max-width: 100%;
    }
    .main__card-imageTitle {
        margin-top: 5%;
        margin-bottom: 10%;
        text-align: center;
        text-transform: uppercase;
        font-family: Montserrat, sans-serif;
        font-size: 0.8em;
        color: #333;
        letter-spacing: 1px;
    }

    .header__nav {
        display: none;
    }

    .header__burger {
        display: block;
    }
}